doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/styles/general.css" rel="stylesheet" type="text/css")
        link(href="/styles/error.css" rel="stylesheet" type="text/css")
        meta(charset="utf-8")
        title Members Only - Error!
    body
        header
            if locals.user
                nav
                    a(href="/admin" class="admin-link selected") Admin
                    a(href="/members" class="members-link") Members
                    a(href="/profile" class="profile-link") Profile
                    a(href="/logout" class="logout-link") Logout
            else
                nav
                    a(class="login-link" href="/login") Login
                    a(class="reg-link" href="/register") Register
        main(class="admin-page")


        footer
            div(class="social-links")
                a(href='https://github.com/dstock3' class="github" target="_blank" rel="noopener noreferrer")= "Github"
                a(href='https://davestockdale.io' class="portfolio" target="_blank" rel="noopener noreferrer")= "Portfolio"