doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/styles/reset.css" rel="stylesheet" type="text/css")
        link(href="/styles/general.css" rel="stylesheet" type="text/css")
        link(href="/styles/login.css" rel="stylesheet" type="text/css")
        meta(charset="utf-8")
        title Members Only - Login
    body
        header(class="login-header")
            h1(class="login-title") Members Only: Please Log in
        main(class="login-page")
            form(class="loginForm" action="" method="POST")
                label(class="login-username-label" for="username") Username: 
                input(class="login-username-input" type="text" name="username")

                label(class="login-pw-label" for="password") Password: 
                input(class="login-pw-input" type="password" name="password")
                
                if message
                    span #{message}    

                button(class="submit-btn login-btn") Login
            div(class="prompt-container")
                div(class="prompt") Don't have an account?
                a(class="prompt-link" href="/register") Register


        footer
            div(class="social-links")
                a(href='https://github.com/dstock3' class="github" target="_blank" rel="noopener noreferrer")= "Github"
                a(href='https://davestockdale.io' class="portfolio" target="_blank" rel="noopener noreferrer")= "Portfolio"