doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/styles/reset.css" rel="stylesheet" type="text/css")
        link(href="/styles/general.css" rel="stylesheet" type="text/css")
        link(href="/styles/login.css" rel="stylesheet" type="text/css")
        meta(charset="utf-8")
        title Members Only - Login
    body
        header
            h1 Members Only - Please Log in
        main(class="login-page")
            form(class="loginForm" action="" method="POST")
                label(for="username") username: 
                input(type="text" name="username")

                label(for="password") password: 
                input(type="password" name="password")

                button(class="submit-btn") Login


        footer
            div(class="social-links")
                a(href='https://github.com/dstock3' class="github" target="_blank" rel="noopener noreferrer")= "Github"
                a(href='https://davestockdale.io' class="portfolio" target="_blank" rel="noopener noreferrer")= "Portfolio"